@import "lib/reset";

body {
  color: $color;
}


#thumb {
  position: relative;
  width: 80px; height: 80px;
  background: url("#{$image_url}/thumbsup@2x.gif") 0 0 no-repeat;

  &:active {
    top: 10px;
  }
}
